<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   
   id="WebApp_ID" version="2.5">
    <welcome-file-list>
<!--      <welcome-file>homepage.xhtml</welcome-file>-->
       <welcome-file>homepage.xhtml</welcome-file>
   </welcome-file-list>
   <display-name>Archetype Created Web Application</display-name>
    <context-param>
      <param-name>javax.faces.PROJECT_STAGE</param-name>
      <param-value>Development</param-value>
   </context-param>
   <context-param>
      <param-name>javax.faces.CONFIG_FILES</param-name>
      <param-value>/WEB-INF/faces-config.xml</param-value>
   </context-param>
   <servlet>
      <servlet-name>Faces Servlet</servlet-name>
      <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
  
   <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>/faces/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.jsf</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.faces</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.xhtml</url-pattern>
   </servlet-mapping>
   
<!--<security-constraint>
   <display-name>Security Constraint</display-name>
   <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
       Define the context-relative URL(s) to be protected 
      <url-pattern>/*</url-pattern>
       If you list http methods, only those methods are protected 
   </web-resource-collection>
   <auth-constraint>
       Anyone with one of the listed roles may access this area 
      <role-name>source</role-name>
   </auth-constraint>
</security-constraint>-->

<!-- Default login configuration uses form-based authentication -->
<login-config>
   <auth-method>FORM</auth-method>
   <realm-name>Form-Based Authentication Area</realm-name>
   <form-login-config>
     <form-login-page>/homepage.xhtml</form-login-page>
     <form-error-page>/error.xhtml</form-error-page>
   </form-login-config>
</login-config><!--

 Security roles referenced by this web application 
<security-role>
   <role-name>source</role-name>
</security-role>-->
 
</web-app>
